.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex-grow: 1;
}
.container {
    width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include desktopXL {
        width: 1200px;
    }
    @include desktop () {
        width: 1000px;
    }
    @include tablet () {
        width: 750px;
    }
    @include mobile {
        width: 100%;
    }
}